/* main headings (has a great italic custom font)*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* secondary headings */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* for texts inter is best */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", monospace;
}
body {
    background: var(--black-eye-background-color);
}
:root {
    /* colors */
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    /* white*/
    --white-website-background-color: hsl(208, 100%, 98%);
    --white-background-item-color: hsl(0, 0%, 95%);
    --white-background-hover: hsla(0, 0%, 0%, 0.04);
    --white-color-disable: hsl(0, 0%, 65%);
    /* black */
    --black-eye-background-color: hsl(210, 15%, 6%);
    --black-background-item-color: hsl(0, 0%, 14%);
    --black-background-hover: hsla(0, 0%, 100%, 0.06%);
    --black-color-disable: hsl(0, 0%, 40%);
    /* red */
    --red-color: hsl(0, 53%, 52%);
    --red-dark-color: hsl(0, 90%, 60%);
    --red-background-color: hsl(0, 100%, 97%);
    /* yellow */
    --yellow-color: hsl(52, 74%, 47%);
    --yellow-dark-color: hsl(52, 100%, 40%);
    --yellow-background-color: hsl(52, 100%, 97%);
    /* font sizes */
    --text-12: 1.2rem;
    --text-14: 1.4rem;
    --text-16: 1.6rem;
    --text-18: 1.8rem;
    --text-20: 2rem;
    --text-24: 2.4rem;
    --text-28: 2.8rem;
    --text-32: 3.2rem;
    /* spacing scale (margin, padding, LRTB) */
    --space-4: 0.4rem;
    --space-8: 0.8rem;
    --space-16: 1.6rem;
    --space-24: 2.4rem;
    --space-32: 3.2rem;
}

/* 10px = 1rem */
html {
    font-size: 62.5%;
}

/* header */
.header {
    min-height: 100vh;  /*100vh and higher*/
    width: 100%;
    background: linear-gradient(rgba(11, 8, 9, 0.614)), url(https://images.unsplash.com/photo-1728013215429-a797bac0d002?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: relative; /*all its children will act as relative to it by positioning the children as absolute*/
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
  width: 7rem;  
}

.nav-links {
    /*flex: 1; means flex-grow: 1; flex-shrink: 1; flex-basis:0; it takes all available space inside its flex container and with text align you move it to right, and its useless cuz we have space-between and it does the work*/
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block; /*good for underline animation as well and for inlining li*/
    padding: 0.8rem 1.2rem;
    position: relative;
}

.nav-links ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 2.5rem;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 0.2rem;
    background: var(--red-color);
    display: block;
    margin: auto; /*margin: auto horizontally centers the element if it has a width less than the container. without hover the line is centered but after hover the margin cernters it*/
    transition: 0.3s;
    /* if we want animation to be right to left we should use transform because its harder to manage it with margin, and left to right it the original (by default)*/
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-family: "Libre Baskerville", "Inter";
    /* font-style: italic; */
    font-size: 6.2rem;
}

.text-box p {
    margin: 1rem 0 4rem; /*top, right & left, buttom*/
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter";
}

.hero-btn {
    display: inline-block; /*with block the button will strech and occupy all the parent width*/
    text-decoration: none;
    color: white;
    border: 0.1rem solid #ffffff;
    padding: 1.2rem 3.2rem;
    font-size: 1.8rem;
    cursor: pointer;
    background: transparent;
    /* position: relative; */
    transition: 0.4s ease-in-out;
    font-family: "Jost";
    font-weight: 500;
}

.hero-btn:hover {
    border: 0.1rem solid var(--red-color);  
    background: var(--red-color);
    color: var(--white-color);
}

nav .fa {
    display: none;
}



/* cars */
.cars {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 8rem;
}
.cars h1 {
    color: var(--white-color);
    font-size: 5rem;
    font-family: "Jost", "Inter";
    font-weight: 700;
}
.cars p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    font-family: "Inter";
    line-height: 2;
    padding: 1rem;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.cars-col {
    flex-basis: 31%;
    background: var(--black-background-item-color);
    /* border-radius: 1rem; */
    margin-bottom: 5%;
    padding: 2rem 1.2rem;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

/* Bottom-right diagonal */
.cars-col::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--red-color);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    opacity: 0.8;
    transition: 0.5s;
    z-index: 0;
}

.cars-col::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: var(--red-color);
    /* Points diagonally down-right from top-left corner */
    clip-path: polygon(0 0, 100% 0, 0 100%);
    opacity: 0.8;
    transition: 0.5s;
    z-index: 0;
}
.cars-col h3 {
    color: var(--yellow-dark-color);
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    font-family: "Jost";
    margin: 1rem 0;
}

.cars-col:hover {
    box-shadow: 0 0 2rem 0 rgba(238, 185, 26, 0.7);
}


/* car studio */
.studio {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5rem;
}

.studio h1 {
    font-family: "Jost", "Inter";
    font-size: 4.5rem;
    color: var(--white-color);
}
 
.studio p {
    font-family: "Inter";
    font-size: 1.8rem;
    color: #ffffff80;
    padding: 1rem;
}

.studio-col {
    flex-basis: 32%;
    margin-bottom: 3.2rem;
    position: relative;
}

.studio-col img {
    display: block; /*by default its inline-block so the layer got out of the vertical height*/
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    border-radius: 1rem;
    /*inset:0; we can remove 4 lines with this line, height width top left, i think this is better but for the sake of the course we will write as much as identical code*/
}

.layer:hover {
    background: rgba(205, 239, 247, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 600;
    color: var(--red-color);
    font-size: 3rem;
    font-family: "Jost";
    position: absolute;
    bottom: 0;
    /* these 2 lines does nothing cuz we already have width 100% */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;

}

.layer:hover h3 {
    bottom: 50%;
    transform: translate(-50%, 50%); /* we used this to center the text without this line the bottom of the text is centered , sits down at center so it feels its not centered*/
    opacity: 1;
}


/* companies */
.companies {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10rem;
}

.companies h1 {
    font-family: "Jost", "Inter";
    font-size: 4.5rem;
    color: var(--white-color);
}

.companies p {
    font-family: "Inter";
    font-size: 1.8rem;
    color: #ffffff80;
    padding: 1rem;
}

.companies-col {
    flex-basis: 31%;
    border-radius: 3rem;
    margin-bottom: 5%;
    text-align: left;
}

.companies-col img {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover; /*we can use a fixed height as well with object fit*/
    aspect-ratio: 16 / 10;
}

.companies-col p {
    padding: 0;
    line-height: 1.5;
}

.companies-col h3 {
    margin: 1.6rem 0 0.5rem;
    text-align: left;
    font-size: 2.4rem;
    font-family: "Jost";
    color: var(--yellow-dark-color);
}

/* testimonials */
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonials h1 {
    font-family: "Jost", "Inter";
    font-size: 4.5rem;
    color: var(--white-color);
}

.testimonials p {
    font-family: "Inter";
    font-size: 1.8rem;
    color: #ffffff80;
    padding: 1rem;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 1rem;
    margin: 0 1% 5%; /*for mobile reponsivity*/
    text-align: left;
    background: var(--black-background-item-color);
    padding: 2.5rem;
    cursor: pointer;
    display: flex;
    
}
.testimonial-col img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 3rem;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    font-size: 1.4rem;
    margin: 1.3rem 0 1.1rem;
    text-align: left;
    color: white;
}

.testimonial-col .fa {
    color: var(--yellow-dark-color);
}



/* purchase */

.purchase {
    width: 80%;
    margin: 10rem auto;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1486673748761-a8d18475c757?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    text-align: center;
    padding: 10rem 0;
}

.purchase h1 {
    color: white;
    margin-bottom: 4rem;
    padding: 0;    
}


/* footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    /* background-color: rgb(218, 255, 213); */
}

.footer p {
    font-size: 1.4rem;
    padding: 2rem 6rem;
    color: #ffffff80;
    text-align: left;
}

.author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.author p {
    padding: 0;
}

.footer h4 {
    font-family: "Inter";
    color: var(--white-color);
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    font-weight: 700;
}

.fa-brands {
    color: var(--yellow-color);
    font-size: 2rem;
    margin: 0 1.2rem;
    cursor: pointer;
    padding: 1.8rem 0;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 3.4rem;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links  { 
        position: fixed;
        background-color: var(--black-background-item-color);
        height: 100vh;
        width: 20rem;
        top: 0;
        right: -20rem;
        text-align: left;
        z-index: 2;
        transition: 0.2s ;
    }
    nav .fa {
        display: block;
        color: white;
        margin: 1rem;
        font-size: 2.4rem;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 3rem;
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        cursor: pointer;
    }

    /* Show overlay when active */
    .menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    .row {
        flex-direction: column;
    }

    .testimonial-col img {
        margin-left: 0px;
        margin-right: 1.5rem;
    }

    .testimonials h1 {
        font-size: 4rem;
    }
    .testimonials p {
        font-size: 1.4rem;
    }

    .purchase h1 {
        font-size: 2.4rem;
    }

    .companies-col {
        margin-top: 2rem;
    }
}

/* about us page */
.about-header {
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(11, 8, 9, 0.614)), url(https://images.unsplash.com/photo-1694575341005-10a3e9400a58?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.about-header h1 {
    margin-top: 4rem;
    font-size: 5rem;
    font-family: "Jost";
    color: var(--yellow-color);
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.about-us-col {
    flex-basis: 48%;
    padding: 3rem 0.2rem;
}

.about-us-col img{
    width: 100%;
    aspect-ratio: 16/10;
    object-fit: cover;
}

.about-us-col h1 {
    padding-top: 0;
    color: var(--white-color);
    font-size: 3.2rem;
    font-family: "Jost";

}

.about-us-col p {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1.5rem 0 2.5rem;
}

.explore-hero-btn {
    display: inline-block; /*with block the button will strech and occupy all the parent width*/
    text-decoration: none;
    color: var(--yellow-dark-color);
    border: 0.1rem solid var(--yellow-dark-color);
    padding: 1.2rem 3.2rem;
    font-size: 1.6rem;
    cursor: pointer;
    background: transparent;
    /* position: relative; */
    transition: 0.4s ease-in-out;
}

.explore-hero-btn:hover {
    border: 0.1rem solid rgb(116, 35, 35);  
    background: rgb(241, 82, 82);
    color: white;
}


/* blog */
.blog-content {
    width: 80%;
    margin: auto;
    padding: 6rem 0;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: var(--white-color);
    font-size: 3rem;
    font-family: "Jost";
    font-weight: 600;
    margin: 3rem 0;
}

.blog-left p {
    font-family: "Inter";
    color: #ffffff80;
    font-size: 1.4rem;
    line-height: 1.4;
    padding: 0;   
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    text-align: center;
    background-color: var(--black-background-item-color);
    color: white;
    font-family: "Jost";
    padding: 0.7rem 0;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: var(--white-color);
    padding: 0.8rem;
    font-size: 2rem;
}

.comment-box {
    border-radius: 3px;
    margin: 5rem 0;
    padding: 1rem 2rem;
    background-color: var(--black-background-item-color);
}

.comment-box h3 {
    text-align: left;
    color: var(--white-color);
    padding: 1rem 0 0.5rem;
    font-size: 1.6rem;
    font-family: "Inter";
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #333;
    color: #ffffff;
    border-radius: 3px;
}

.comment-form input::placeholder, .comment-form textarea::placeholder {
    color: #ffffff;
}

.post-btn {
    color: rgb(241, 82, 82);
    border: 0.1rem solid rgb(241, 82, 82);
}

.comment-form button {
    margin: 1rem 0;
}



/* contact us */
.location {
    width: 80%;
    margin: auto;
    padding: 8rem 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 3rem;
    padding: 1rem;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.contact-col div i {
    font-size: 2.8rem;
    color: var(--yellow-color);
    margin: 1rem;
    margin-right: 3rem;
}

.contact-col div h5 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--white-color);
    font-weight: 500;
}

.contact-col div p {
    padding: 0;
    color: var(--white-color);
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.7rem;
    box-sizing: border-box;
    border: 0.1rem solid black;
    outline: none;
    background: white;
    box-sizing: border-box;
}


.loader-overlay {
  position: fixed;
  inset: 0;
  background: #0f0f0f; /* or your page bg */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s;
}

.loader-overlay.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.custom-loader {
  width: 5rem;
  height: calc(5rem*0.866);
  position: relative;
  background:conic-gradient(from 120deg at 50% 64%,#0000, #F45F5F 1deg 120deg,#0000 121deg);
  transform-origin: 50% 50%;
  animation: sp7-0 1.5s infinite cubic-bezier(0.3,1,0,1);
}
.custom-loader:before,
.custom-loader:after {
  content:'';
  position: absolute;
  inset:0;
  background:inherit;
  transform-origin: 50% 66%;
  animation: sp7-1 1.5s infinite;
}
.custom-loader:after {
  --s:-1;
}

@keyframes sp7-0 {
   0%,30%      {transform: rotate(0)}
   70%         {transform: rotate(120deg)}
   70.01%,100% {transform: rotate(360deg)}
}

@keyframes sp7-1 {
   0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
   30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-0.5rem),1rem)}
   100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
}
/* section animation */
.loader {
    width: 100%;           /* stretches full width */
    height: 12px;
    background: 
        linear-gradient(90deg, var(--red-color) 50%, #0000 0) 0 0%,
        linear-gradient(-90deg, var(--red-color) 50%, #0000 0) 0 50%,
        linear-gradient(90deg, var(--red-color) 50%, #0000 0) 0 100%;
    background-size: 8px calc(100% / 3);
    background-repeat: repeat-x;
    animation: i8 0.5s infinite linear;
}

@keyframes i8 {
    100% {
        background-position: -8px 0%, -8px 50%, -8px 100%;
    }
}